<p> Dear <%= @agent.full_name.titleize %>,</p>
<p>
  Your <%= @agent.invited_by_wholesaler_title %> representative, <%= @agent.invited_by_full_name %>, has invited you to complete Jimcor Dwelling Application.
</p>
<p>Click this link to continue to the application portal.</p>
<p><%= link_to "Accept Invite", accept_agent_invitation_url(invitation_token: @token), class: "btn" %></p>
<p>Thank you for your business.</p>
<p>Your <%= @agent.invited_by_wholesaler_title %> team.</p>
