<div class="sidebar" data-color="blue">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'site-logo.jpg' %>
    <% end %>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="info">
        <% if signed_in? %>
          <div class="photo">
            <%= image_tag(current_user.profile_picture) %>
          </div>

          <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            <span><%= current_user.full_name %><b class="caret"></b></span>
            <%= content_tag :span, current_user.role, class: "small" %>
          </a>
        <% end %>

        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="<%= active_class(edit_salesperson_registration_path) %>">
              <%= link_to render_edit_account_path do %>
                <span class="sidebar-normal">Edit Profile</span>
              <% end %>
            </li>
            <% if agent_signed_in? && current_agent.company_owner? %>
              <li class="<%= active_class(edit_dashboard_agency_path(current_agent.owned_agency)) %>">
                <%= link_to "Edit Company", edit_dashboard_agency_path(current_agent.owned_agency) %>
              </li>
            <% end %>
            <li>
              <%= link_to render_logout_path, method: :delete do %>
                <span class="sidebar-normal">Logout</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="<%= active_class(dashboard_path) %>">
        <%= link_to dashboard_path do %>
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        <% end %>
      </li>
      <%= render "layouts/dashboard/sidenav/salesperson" if salesperson_signed_in? %>
      <%= render "layouts/dashboard/sidenav/agent" if agent_signed_in? %>
      <%= render "layouts/dashboard/sidenav/client" if client_signed_in? %>
    </ul>
  </div>
</div>