<li class="<%= active_class(dashboard_wholesaler_settings_path) %>">
  <%= link_to "Account Settings",dashboard_wholesaler_settings_path %>
  <ul id="account-settings" class="list-group">

    <% if current_salesperson.company_owner? %>
      <li class="list-styles <%= active_class(dashboard_salespeople_invitations_path) %>">
        <%= link_to "Manage Employees", dashboard_salespeople_invitations_path %>
      </li>

      <li class="list-styles <%= active_class(edit_dashboard_wholesaler_path(current_salesperson.owned_wholesaler)) %>">
        <%= link_to "Edit Company", edit_dashboard_wholesaler_path(current_salesperson.owned_wholesaler) %>
      </li>
    <% end %>

    <li class="list-styles <%= active_class(edit_salesperson_registration_path) %>">
      <%= link_to "Edit Account", edit_salesperson_registration_path %>
    </li>

  </ul>
</li>

<li>
  <%= link_to "Applications" %>
  <ul id="applications" class="list-group">
    <li class="list-styles <%= active_class(new_dashboard_agent_invitation_path) %>">
      <%= link_to "Send App", new_dashboard_agent_invitation_path %>
    </li>

    <li class="list-styles <%= active_class(dashboard_agent_wholesaler_applications_path) %>">
      <%= link_to "Manage Applications", dashboard_agent_wholesaler_applications_path %>
    </li>
  </ul>
</li>

<li class="<%= active_class(dashboard_insurance_applications_path) %>">
  <%= link_to "Submissions", dashboard_insurance_applications_path %>
</li>

<li class="<%= active_class(dashboard_agents_path) %>">
  <%= link_to "Agents", dashboard_agents_path %>
</li>
