<h1>Account Settings</h1>
<br/>
<div class="account-setting">
  <div class="user-account">
    <div class="row">
      <h2>User Account</h2>
      <div class="col-md-1">
        <%= image_tag("my-account-icon.png", size: "110x110") %>
      </div>
      <div class="col-md-4 style">
        <strong><%= current_salesperson.full_name.titleize %></strong>
        <% if current_salesperson.company_owner? %>
          <span class="label label-primary">Owner</span>
        <% end %>
        <br/>
        <p>Last Updated: <%= render_datetime(current_salesperson.updated_at) %></p>
      </div>
    </div>
    <br/>

    <div class="row">
      <%= link_to "Edit User Account", edit_salesperson_registration_path, class: "btn btn-default btn-fill" %>
    </div>
  </div>
  <br/>

  <% if @company.present? %>
    <div class="company">
      <div class="row">
        <h2>Company</h2>
        <div class="col-md-1">
          <%= image_tag(@company.logo, size: "110x110") %>
        </div>
        <div class="col-md-4 style">
          <p><strong><%= @company.title.titleize %></strong><p>
          <p><%= @company.company_address %></p>
        </div>
      </div>
      <br/>

      <div class="row">
        <%= link_to "Edit Company", edit_dashboard_wholesaler_path(@company), class: "btn btn-default btn-fill" %>
      </div>
    </div>
  <% end %>
  <br/>

  <% if @employees.present? %>
    <div class="employees">
      <div class="row">
        <div class="col-md-12">
          <h2>Team <span class="badge"><%= @employees.size %></h2>
          <div class="row">
            <% @employees.each do |employee| %>
              <div class="col-md-2">
                <%= image_tag("my-account-icon.png", size: "110x110") %>
              </div>
              <div class="col-md-1 style">
                <p><strong><%= employee.full_name.titleize %></strong></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <br/>

      <div class="row">
        <%= link_to "Manage Salespeople", dashboard_salespeople_invitations_path, class: "btn btn-default btn-fill" %>
      </div>
    </div>
  <% end %>
</div>
