<%= form_for @agent, url: dashboard_agent_invitations_path do |f| %>
  <div class="row agent-invitations">
    <div class="col-12">
      <div class="card">
        <div class="header">
          <h2 class="title">Send An App</h2>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="form-group col-md-5">
                  <%= radio_button(:new, :agent, :yes, { required: true, checked: true, class: 'invite-rb' }) %>
                  <%= label_tag :new_agent_yes, 'New Agent' %>
                  <%= radio_button(:new, :agent, :no, { required: true, class: 'invite-rb' }) %>
                  <%= label_tag :new_agent_no, 'Existing Agent' %>
                </div>
              </div>

              <div class="row show" id="new-agent-fields">
                <div class="co-md-12">
                  <h2 class=" header title">New Agent</h2><br/>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.fields_for :owned_agency do |agency| %>
                      <%= agency.label :agency_code, class: "control-label" %>
                      <br />
                      <%= agency.text_field :agency_code, class: "form-control", required: true, id: "agency_code" %>
                    <% end %>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.label :agent_code, class: "control-label" %>
                    <br />
                    <%= f.text_field :agent_code, class: "form-control", required: true %>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.label :first_name, class: "control-label" %>
                    <br />
                    <%= f.text_field :first_name, class: "form-control", required: true %>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.label :last_name, class: "control-label" %>
                    <br />
                    <%= f.text_field :last_name, class: "form-control", required: true %>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.label :email, class: "control-label" %>
                    <br />
                    <%= f.email_field :email, class: "form-control", required: true %>
                  </div>
                </div>

                <div class="col-md-2 app-checkbox-div">
                  <div class="form-group checkbox-mt">
                    <%= check_box_tag "new-agent-app-checkbox", {}, false, class: "include-app" %>
                    <%= label_tag "Include App" %>
                  </div>
                </div>
              </div>

              <div class="row hidden" id="existing-agent-fields">
                <% if @agents.present? %>
                  <div class="co-md-12">
                    <h2 class=" header title">Existing Agent</h2><br/>
                  </div>
                  <div class="form-group col-md-5">
                    <%= label_tag :agent %>
                    <%= select_tag "agents", options_from_collection_for_select(@agents, "id", "full_name"), include_blank: true, class: "form-control chosen-select" %>
                  </div>

                  <div class="col-md-2 app-checkbox-div">
                    <div class="form-group checkbox-mt">
                      <%= check_box_tag 'existing-agent-app-checkbox', {}, false, class: "include-app" %>
                      <%= label_tag "Include App" %>
                    </div>
                  </div>
                <% else %>
                  <div class="col-md-4">
                    <p>No agents found</p>
                  </div>
                <% end %>
              </div>

              <hr/>
              <div id="applications-div" class="hidden">
                <h2>Select Applications</h2>
                <br/>
                <div class="row">
                  <div class="col-md-12">
                    <% @templates.each do |template| %>
                      <%= check_box_tag "template_ids[]", template.id %>
                      <%= label_tag template.title %>
                    <% end %>
                  </div>
                </div>
                <hr/>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <%= f.submit "Send Invite", class: "btn btn-success" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
