<div class="card" id="dwelling-questions">
  <div class="header">
    <h3 class="title">Dwelling Questions</h3>
  </div>
  <div class="content p-2">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :owner_occupied, dewlling_questions[:owner_occupied_remarks], class: "control-label" %><br>
          <%= f.radio_button :owner_occupied, :true %>
          <%= label_tag :owner_occupied_yes, "Yes" %>
          <%= f.radio_button :owner_occupied, :false %>
          <%= label_tag :owner_occupied_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :owner_occupied_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :owner_occupied_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :portion_unoccupied, dewlling_questions[:portion_unoccupied_remarks], class: "control-label" %><br>
          <%= f.radio_button :portion_unoccupied, :true %>
          <%= label_tag :portion_unoccupied_yes, "Yes" %>
          <%= f.radio_button :portion_unoccupied, :false %>
          <%= label_tag :portion_unoccupied_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :portion_unoccupied_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :portion_unoccupied_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :under_renovation, dewlling_questions[:under_renovation_remarks], class: "control-label" %><br>
          <%= f.radio_button :under_renovation, :true %>
          <%= label_tag :under_renovation_yes, "Yes" %>
          <%= f.radio_button :under_renovation, :false %>
          <%= label_tag :under_renovation_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :under_renovation_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :under_renovation_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :under_construction, dewlling_questions[:under_construction_remarks], class: "control-label" %><br>
          <%= f.radio_button :under_construction, :true %>
          <%= label_tag :under_construction_yes, "Yes" %>
          <%= f.radio_button :under_construction, :false %>
          <%= label_tag :under_construction_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :under_construction_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :under_construction_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :business_conducted, dewlling_questions[:business_conducted_remarks], class: "control-label" %><br>
          <%= f.radio_button :business_conducted, :true %>
          <%= label_tag :business_conducted_yes, "Yes" %>
          <%= f.radio_button :business_conducted, :false %>
          <%= label_tag :business_conducted_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :business_conducted_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :business_conducted_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :domestic_employees, dewlling_questions[:domestic_employees_remarks], class: "control-label" %><br>
          <%= f.radio_button :domestic_employees, :true %>
          <%= label_tag :domestic_employees_yes, "Yes" %>
          <%= f.radio_button :domestic_employees, :false %>
          <%= label_tag :domestic_employees_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :domestic_employees_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :domestic_employees_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :horses_owned, dewlling_questions[:horses_owned_remarks], class: "control-label" %><br>
          <%= f.radio_button :horses_owned, :true %>
          <%= label_tag :horses_owned_yes, "Yes" %>
          <%= f.radio_button :horses_owned, :false %>
          <%= label_tag :horses_owned_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :horses_owned_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :horses_owned_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :non_domestic_animals, dewlling_questions[:non_domestic_animals_remarks], class: "control-label" %><br>
          <%= f.radio_button :non_domestic_animals, :true %>
          <%= label_tag :non_domestic_animals_yes, "Yes" %>
          <%= f.radio_button :non_domestic_animals, :false %>
          <%= label_tag :non_domestic_animals_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :non_domestic_animals_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :non_domestic_animals_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :domestic_animals, dewlling_questions[:domestic_animals_remarks], class: "control-label" %><br>
          <%= f.radio_button :domestic_animals, :true %>
          <%= label_tag :domestic_animals_yes, "Yes" %>
          <%= f.radio_button :domestic_animals, :false %>
          <%= label_tag :domestic_animals_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :domestic_animals_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :domestic_animals_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :contains_smoke_detectors, dewlling_questions[:smoke_detector_remarks], class: "control-label" %><br>
          <%= f.radio_button :contains_smoke_detectors, :true %>
          <%= label_tag :contains_smoke_detectors, "Yes" %>
          <%= f.radio_button :contains_smoke_detectors, :false %>
          <%= label_tag :contains_smoke_detectors, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :smoke_detector_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :smoke_detector_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :furthest_to_ocean, dewlling_questions[:saltwater_bay_remarks], class: "control-label" %><br>
          <%= f.radio_button :furthest_to_ocean, :true %>
          <%= label_tag :furthest_to_ocean_yes, "Yes" %>
          <%= f.radio_button :furthest_to_ocean, :false %>
          <%= label_tag :furthest_to_ocean_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :saltwater_bay_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :saltwater_bay_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :nearby_ocean, dewlling_questions[:nearby_ocean_remarks], class: "control-label" %><br>
          <%= f.radio_button :nearby_ocean, :true %>
          <%= label_tag :nearby_ocean_yes, "Yes" %>
          <%= f.radio_button :nearby_ocean, :false %>
          <%= label_tag :nearby_ocean_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :nearby_ocean_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :nearby_ocean_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :contiains_swimming_pool, dewlling_questions[:swimming_pool_remarks], class: "control-label" %><br>
          <%= f.radio_button :contiains_swimming_pool, :true %>
          <%= label_tag :contiains_swimming_pool_yes, "Yes" %>
          <%= f.radio_button :contiains_swimming_pool, :false %>
          <%= label_tag :contiains_swimming_pool_bo, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :swimming_pool_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :swimming_pool_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :contains_trampoline, dewlling_questions[:trampoline_remarks], class: "control-label" %><br>
          <%= f.radio_button :contains_trampoline, :true %>
          <%= label_tag :contains_trampoline_yes, "Yes" %>
          <%= f.radio_button :contains_trampoline, :false %>
          <%= label_tag :contains_trampoline_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :trampoline_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :trampoline_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :contains_exterior_steps, dewlling_questions[:exterior_step_remarks], class: "control-label" %><br>
          <%= f.radio_button :contains_exterior_steps, :true %>
          <%= label_tag :contains_exterior_steps_yes, "Yes" %>
          <%= f.radio_button :contains_exterior_steps, :false %>
          <%= label_tag :contains_exterior_steps_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :exterior_step_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :exterior_step_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :secondary_residence, dewlling_questions[:secondary_residence_remarks], class: "control-label" %><br>
          <%= f.radio_button :secondary_residence, :true %>
          <%= label_tag :secondary_residence_yes, "Yes" %>
          <%= f.radio_button :secondary_residence, :false %>
          <%= label_tag :secondary_residence_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :secondary_residence_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :secondary_residence_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
