<%= render "shared/errors", resource: @jimcor_dwelling_application %>

<%= form_for @jimcor_dwelling_application, url: @form_submit_path  do |f| %>
  <%= render 'form', f: f %>
<% end %>

<% if !current_user || salesperson_signed_in? || agent_signed_in? %>
  <div id="alert-modal" class="modal fade">
    <div class="modal-dialog">
      <% if !current_user %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Sign-in Required</h4>
          </div>
          <div class="modal-body">
            <p>You must be signed-in as a Client in order to submit an application entry</p>
            <div class="sign-in-body">
              <%= form_for(Client.new, url: session_path(Client.new)) do |f| %>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= f.label :email, class: "control-label" %><br>
                      <%= f.email_field :email, autofocus: true, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password, class: "control-label" %><br>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>

                    <button type="submit" class="btn btn-fill btn-success btn-wd">Login</button>
                    <button type="button" class="btn btn-fill btn-success btn-wd  pull-right" id="sign-up-fields">Signup</button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <!-- Signup fields -->
          <div class="sign-up-body hidden modal-body">
            <%= form_for(Client.new, url: registration_path(Client.new)) do |f| %>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <%= f.label :first_name, class: "control-label" %><br>
                    <%= f.text_field :first_name, autofocus: true, required: true, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :last_name, class: "control-label" %><br>
                    <%= f.text_field :last_name, class: "form-control", required: true %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email, class: "control-label" %><br>
                    <%= f.email_field :email, class: "form-control", required: true %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password, class: "control-label" %><br>
                    <%= f.password_field :password,  placeholder: "password (min #{@minimum_password_length} characters)",autocomplete: "off", class: "form-control", required: true %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation, class: "control-label" %><br>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                  </div>

                  <button type="submit" class="btn btn-fill btn-success btn-wd">Signup</button>
                  <button type="button" class="btn btn-fill btn-success btn-wd pull-right" id="sign-in-fields">Login</button>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      <% else %>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Clients Only</h4>
            </div>
            <div class="modal-body">
              <p>You must be signed-in as a Client in order to submit an application entry.  You may view this form as preview.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :js_init do %>
  <% if !current_user || salesperson_signed_in? || agent_signed_in? %>
    InsuranceApplications.disable_all_fields();
    InsuranceApplications.launch_modal();
    InsuranceApplications.show_signup_fields();
    InsuranceApplications.show_signin_fields();
  <% end %>
<% end %>
