<%= content_for :body_class do %>data-spy='scroll' data-target='#insurance-application-sidebar' data-offset='50'<% end %>

<%= render "shared/errors", resource: @jimcor_dwelling_application %>

<%= form_for @jimcor_dwelling_application, url: @form_submit_path  do |f| %>
  <div class="row">
    <div class="col-md-10">
      <%= render 'form_fields', f: f %>
    </div>
    <div class="col-md-2">
      <div class="card" id="insurance-application-sidebar">
        <div class="header">
          <h4 class="title">Sections</h4>
        </div>
        <div class="content content-full-width">
          <div class="list-group">
            <a href="#applicant" class="list-group-item">Applicant</a>
            <a href="#deductibles" class="list-group-item">Deductibles</a>
            <a href="#risk-location" class="list-group-item">Risk Location</a>
            <a href="#limits-of-liability" class="list-group-item">Limits of Liability</a>
            <a href="#proposed-effective-date" class="list-group-item">Effective Date</a>
            <a href="#underwriting-information" class="list-group-item">Underwriting</a>
            <a href="#construction" class="list-group-item">Construction</a>
            <a href="#electrical" class="list-group-item">Electrical</a>
            <a href="#heating" class="list-group-item">Heating</a>
            <a href="#aux-heating" class="list-group-item">Aux Heating</a>
            <a href="#roofing" class="list-group-item">Roofing</a>
            <a href="#plumbing" class="list-group-item">Plumbing</a>
            <a href="#roofing" class="list-group-item">Roofing</a>
            <a href="#mortgage_information" class="list-group-item">Mortgage Information</a>
            <a href="#general-questions" class="list-group-item">General Questions</a>
            <a href="#dwelling-questions" class="list-group-item">Dwelling Questions</a>
          </div>
          <%= f.submit "Save for Later", class: "btn btn-success btn-fill btn-block", style: 'margin: 0 5%; width: 90%;' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless client_signed_in? %>
  <div id="sign-in-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sign-in Required</h4>
        </div>
        <div class="modal-body">
          <p>You must be signed-in as a Client in order to submit an application entry</p>
          <div class="sign-in-body">
            <%= form_for(Client.new, url: session_path(Client.new)) do |f| %>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <%= f.label :email, class: "control-label" %><br>
                    <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password, class: "control-label" %><br>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>

                  <button type="submit" class="btn btn-fill btn-success btn-wd">Login</button>
                  <button type="button" class="btn btn-fill btn-success btn-wd  pull-right" id="sign-up-fields">Signup</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Signup fields -->
        <div class="sign-up-body hidden modal-body">
          <%= form_for(Client.new, url: registration_path(Client.new)) do |f| %>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.label :first_name, class: "control-label" %><br>
                  <%= f.text_field :first_name, autofocus: true, required: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :last_name, class: "control-label" %><br>
                  <%= f.text_field :last_name, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :email, class: "control-label" %><br>
                  <%= f.email_field :email, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :password, class: "control-label" %><br>
                  <%= f.password_field :password,  placeholder: "password (min #{@minimum_password_length} characters)",autocomplete: "off", class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation, class: "control-label" %><br>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                </div>

                <button type="submit" class="btn btn-fill btn-success btn-wd">Signup</button>
                <button type="button" class="btn btn-fill btn-success btn-wd pull-right" id="sign-in-fields">Login</button>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :js_init do %>
  <% if client_signed_in? %>
    InsuranceApplications.chosen_select_init();
  <% else %>
    InsuranceApplications.disable_all_fields();
    InsuranceApplications.launch_modal();
    InsuranceApplications.show_signup_fields();
    InsuranceApplications.show_signin_fields();
  <% end %>
<% end %>
