<%= render "shared/errors", resource: @jimcor_dwelling_application %>

<%= form_for @jimcor_dwelling_application, url: @form_submit_path  do |f| %>
  <%= render 'form', f: f %>
<% end %>

<% if !current_user || salesperson_signed_in? || agent_signed_in? %>
  <div id="alert-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sign-in Required(Clients Only)</h4>
        </div>

        <div class="modal-body">
          <%= radio_button(:new, "", :new_account, { required: true, class: 'modal-login-rb' }) %>
          <%= label_tag :new_account, 'New Account' %>
          <%= radio_button(:new, "", :existing_account, { required: true, checked: true, class: 'modal-login-rb' }) %>
          <%= label_tag :existing_account, 'Existing Account' %>

          <p>You must be signed-in as a Client in order to submit an application entry</p>
          <div class="sign-in-body">
            <%= render 'clients/sessions/login_fields' %>
          </div>

          <!-- Signup fields -->
          <div class="sign-up-body hidden">
            <%= form_for(Client.new, url: registration_path(Client.new)) do |f| %>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <%= f.label :first_name, class: "control-label" %><br>
                    <%= f.text_field :first_name, autofocus: true, required: true, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :last_name, class: "control-label" %><br>
                    <%= f.text_field :last_name, class: "form-control", required: true %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email, class: "control-label" %><br>
                    <%= f.email_field :email, class: "form-control", required: true %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password, class: "control-label" %><br>
                    <%= f.password_field :password,  placeholder: "password (min #{@minimum_password_length} characters)",autocomplete: "off", class: "form-control", required: true %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation, class: "control-label" %><br>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                  </div>

                  <button type="submit" class="btn btn-fill btn-success btn-wd">Signup</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :js_init do %>
  <% if !current_user || salesperson_signed_in? || agent_signed_in? %>
    InsuranceApplications.disable_all_fields();
    InsuranceApplications.launch_modal();
    InsuranceApplications.toggle_modal_fields();
  <% end %>
<% end %>
