<div class="row form-group">
  <div class="col-sm-6">
    <%= f.text_field :first_name, placeholder: 'First Name', class: "form-control" %>
  </div>

  <div class="col-sm-6">
    <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="form-group">
      <%= f.label :profile_picture, class: "control-label" %><br>
      <%= image_tag(f.object.profile_picture, class: "col-md-2") %>
      <%= f.file_field :profile_picture %>
      <%= f.hidden_field :profile_picture_cache %>
    </div>
  </div>
</div>
<br/>

<div class="row form-group">
  <div class="col-sm-12">
    <%= f.email_field :email, placeholder: 'email', class: "form-control" %>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12">
    <%= f.password_field :password, placeholder: "password (min #{@minimum_password_length} characters)", autocomplete: "off", class: "form-control" %>

  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12">
    <%= f.password_field :password_confirmation, placeholder: 'password confirm', autocomplete: "off", class: "form-control" %>
  </div>
</div>
