<div class="card">
  <div class="card-header">
    <h3>GENERAL QUESTIONS</h3>
  </div>
  <div class="content p-2">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :banckrupt, general_questions[:banckrupt_remarks], class: "control-label" %><br>
          <%= f.radio_button :banckrupt, :true %>
          <%= label_tag :banckrupt_yes, "Yes" %>
          <%= f.radio_button :banckrupt, :false %>
          <%= label_tag :banckrupt_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :banckrupt_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :banckrupt_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :foreclosured, general_questions[:foreclosured_remarks], class: "control-label" %><br>
          <%= f.radio_button :foreclosured, :true %>
          <%= label_tag :foreclosured_yes, "Yes" %>
          <%= f.radio_button :foreclosured, :false %>
          <%= label_tag :foreclosured_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :foreclosured_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :foreclosured_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :unemloyed, general_questions[:unemployed_remarks], class: "control-label" %><br>
          <%= f.radio_button :unemloyed, :true %>
          <%= label_tag :unemloyed_yes, "Yes" %>
          <%= f.radio_button :unemloyed, :false %>
          <%= label_tag :unemloyed_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :unemployed_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :unemployed_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :canceled, general_questions[:canceled_remarks], class: "control-label" %><br>
          <%= f.radio_button :canceled, :true %>
          <%= label_tag :canceled_yes, "Yes" %>
          <%= f.radio_button :canceled, :false %>
          <%= label_tag :canceled_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :canceled_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :canceled_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :lapsed, general_questions[:lapsed_remarks], class: "control-label" %><br>
          <%= f.radio_button :lapsed, :true %>
          <%= label_tag :lapsed_yes, "Yes" %>
          <%= f.radio_button :lapsed, :false %>
          <%= label_tag :lapsed_no, "No" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :lapsed_remarks, "Remarks", class: "control-label" %><br>
          <%= f.text_field :lapsed_remarks, class: "form-control" %>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :policy_number, class: "control-label" %><br>
          <%= f.number_field :policy_number, min: 0, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :policy_period, class: "control-label" %><br>
          <%= f.number_field :policy_period, min: 0, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.label :applicant_previous_carrier, class: "control-label" %><br>
          <%= f.text_field :applicant_previous_carrier, class: "form-control" %>
        </div>
      </div>
    </div>

  </div>
</div>
