<%= render 'shared/dashboard/sidenav' %>

<div class="main-panel">
  <%= render 'layouts/dashboard/top_navbar' %>
  <div class="main-content">
    <%= render 'shared/layout/alerts' %>
    <%= render 'shared/dashboard/preliminary_notifications' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</div>
