<% @templates.each do |template| %>
  <tr>
    <td><%= template.title %></td>
    <td><%= template.wholesaler_title %></td>
    <td><%= template.wholesaler_location %></td>
    <td class="text-right">
      <% if !current_user || current_user.role == 'Client' %>
        <%= link_to new_dashboard_insurance_applications_jimcor_dwelling_application_path(id: template.id), class: 'btn btn-sm btn-primary' do %>
          new
        <% end %>
      <% elsif current_user %>
        <%= link_to dashboard_template_path(template) do %>
          <i class="fa fa-eye"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>