<tr>
  <td><%= application.application_title %></td>
  <td><%= application.client_full_name %></td>
  <td><%= application.status %></td>
  <td>
    <%= link_to "View", dashboard_insurance_application_path(application) %> |
    <%= link_to "Edit", edit_dashboard_insurance_application_path(application) %>
  </td>
</tr>