<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row session-container">
    <div class="col-md-6">
      <div class="card">
        <div class="header">
          <h2 class="title">Log in as <%= resource_name %></h2>
        </div>

        <div class="content">
          <div class="row">
            <div class="form-group col-md-12">
              <%= f.label :email, class: "control-label" %><br>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <%= f.label :password, class: "control-label" %><br>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <% if devise_mapping.rememberable? -%>
              <div class="form-group col-md-4">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
          </div>

          <div class="row">
            <div class="form-group col-md-3 pull-right">
              <%= f.submit "Log in", class: "btn btn-info btn-fill btn-block" %>
            </div>
          </div>
          <div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
