<% if current_agent.company_owner? %>
    <li>
      <a data-toggle="collapse" href="#company-settings">
        <i class="pe-7s-culture"></i>
        <p>Company Settings<b class="caret"></b></p>
      </a>
      <div class="collapse" id="company-settings">
        <ul class="nav">
          <li class="<%= active_class(dashboard_agency_agent_invitations_path) %>"><%= link_to "Manage Employees", dashboard_agency_agent_invitations_path %></li>
          <li class="<%= active_class(edit_dashboard_agency_path(current_agent.agency)) %>"><%= link_to "Edit Company Info", edit_dashboard_agency_path(current_agent.agency) %></li>
        </ul>
      </div>
    </li>
<% end %>
<li>
  <a data-toggle="collapse" href="#applications">
    <i class="pe-7s-note2"></i>
    <p>Applications<b class="caret"></b></p>
  </a>
  <div class="collapse" id="applications">
    <ul class="nav">
      <li class="<%= active_class(new_dashboard_client_invitation_path) %>">
        <%= link_to "Send App to Client", new_dashboard_client_invitation_path %>
      </li>
      <li class="<%= active_class(dashboard_insurance_applications_path) %>">
        <%= link_to "View Submissions", dashboard_insurance_applications_path %>
      </li>
    </ul>
  </div>
</li>

<li class="<%= active_class(dashboard_agency_clients_path) %>">
  <%= link_to dashboard_agency_clients_path do %>
    <i class="pe-7s-users"></i>
    <p>Clients</p>
  <% end %>
</li>
