<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="header">
        <h2 class="title">Agents</h2>
      </div>

      <div class="content clearfix">
        <% if @agent_wholesalers.present? %>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Number of Applications</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @agent_wholesalers.each do |agent| %>
                <tr>
                  <td>
                    <a data-toggle="modal" data-target="#agent-profile-<%= agent.id %>">
                      <%= image_tag agent.profile_picture, style: 'max-width: 50px;' %><%= agent.full_name.titleize %></a>
                    <div id="agent-profile-<%= agent.id %>" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <%= render 'shared/dashboard/user_profile', resource: agent %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td><%= agent.applications_count %></td>
                  <td>
                    <% if agent.applications_count > 0 %>
                      <%= link_to "View applications", agent_templates_dashboard_agent_wholesaler_application_path(agent.id) %> |
                      <%= link_to "Assign new application", templates_dashboard_agent_wholesaler_applications_path(agent_id: agent.id) %>
                    <% else %>
                      <%= link_to "Assign new application", templates_dashboard_agent_wholesaler_applications_path(agent_id: agent.id) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="pull-right">
            <%= paginate @agent_wholesalers %>
            <%= page_entries_info @agent_wholesalers, entry_name: "agents" %>
          </div>
        <% else %>
            <p>No agents found <%= link_to "Click here", new_dashboard_agent_invitation_path %> to invite agent</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
