<%= form_for @agent, url: dashboard_agency_agent_invitations_path do |f| %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="header">
          <h2 class="title">New Invitation</h2>
        </div>

        <div class="content">
          <div class="row">

            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :agent_code, class: "control-label" %>
                <br />
                <%= f.text_field :agent_code, class: "form-control", required: true %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :first_name, class: "control-label" %>
                <br />
                <%= f.text_field :first_name, class: "form-control", required: true %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :last_name, class: "control-label" %>
                <br />
                <%= f.text_field :last_name, class: "form-control", required: true %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :email, class: "control-label" %>
                <br />
                <%= f.text_field :email, class: "form-control", required: true %>
              </div>
            </div>

            <div class="col-md-3">
              <%= f.submit "Send Invite", class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @agents.present? %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="header">
          <h2 class="title">Invitations</h2>
        </div>

        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-stripped">
            <thead>
              <th>Pic</th>
              <th>Name</th>
              <th>Email</th>
              <th>Invitation Status</th>
              <th>Action</th>
            </thead>

            <tbody>
              <% @agents.each do |agent| %>
                <tr>
                  <td><%= image_tag agent.profile_picture, style: 'max-width: 50px' %></td>
                  <td><%= agent.full_name %></td>
                  <td><%= agent.email %></td>
                  <td><%= agent.status %></td>
                  <td><%= render partial: "actions", locals: { person: agent } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="pull-right">
        <%= paginate @agents %>
        <%= page_entries_info @agents, entry_name: "employees" %>
      </div>
    </div>
  </div>
<% else %>
  <p>There are no outstanding invitations.</p>
<% end %>
