<%= render 'layouts/dashboard/sidenav' %>

<div class="main-panel">
  <%= render 'layouts/dashboard/top_navbar' %>
  <div class="main-content">
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/dashboard/preliminary_notifications' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/dashboard/footer' %>
</div>
