<!DOCTYPE html>
<html>
  <head>
    <title>Datacrest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="wrapper <%= yield :wrapper_class %>">
      <% if dashboard? %>
        <%= render "shared/layout/dashboard" %>
      <% else %>
        <%= render "shared/layout/application" %>
      <% end %>
    </div>
  </body>
</html>
