<!DOCTYPE html>
<html>
  <head>
    <title><%= render_brand_name %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= yield :body_class %>">
    <div class="wrapper <%= yield :wrapper_class %>">
      <!--  start layout-unique content -->

      <div id="navbar-full">
        <%= render 'layouts/alerts' %>
        <div id="navbar">
          <%= render "layouts/navbar" %>
        </div>
      </div>
      <%= yield :hero %>
      <div class="content">
        <div class="container-fluid">
          <% if new_registration? %>
            <%= render 'layouts/sign_up' %>
          <% elsif new_session? %>
            <%= render 'layouts/sign_in' %>
          <% elsif accept_invite? %>
            <%= render 'layouts/accept_invite' %>
          <% end %>
          <%= yield %>
        </div>
      </div>

      <!-- end layout-unique content-->
    </div>
  </body>
  <script type="text/javascript">
    $(function() {
      <%= yield :js_init %>
    });
  </script>
</html>